[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
gunicorn = "*"
python-dotenv = "*"
requests = "*"
flask-cors = "*"
flask-limiter = "*"
pymemcache = "*"

[dev-packages]

[requires]
python_version = "3.8"
